/* overwatch font big noodle tilting */
@font-face {
    font-family: bigNoodleTilting;
    src: url('big_noodle_titling.woff') format('woff'),
   url('big_noodle_titling.ttf') format('truetype'); 
}

/* hero header */
#heroHeader {
    width: 100%;
    height: 150px;
    background-color: orange;
    top:0;
    left:0;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 100px;
    padding-top: 20px;
    font-family: bigNoodleTilting;
}   

.flex-container {
    padding: 55px;
    top: 200px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hero {
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    flex: 1 0 12%; 
}